.dashboard-container {
  padding: 10px;

  h1 { margin-bottom: 24px; font-weight: 300; }

  .summary-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }

  .card {
    padding: 16px;
    border-radius: 12px;
    
    .amount {
      font-size: 2rem;
      font-weight: bold;
      margin: 10px 0 0;
    }
  }

  // Usando el color Azure que configuramos
  .balance { border-left: 5px solid var(--mat-sys-primary); }
  .expenses { border-left: 5px solid #e91e63; } // Un toque rosa/rojo para gastos
  .savings { border-left: 5px solid #4caf50; }  // Verde para ahorro
}