@use '@angular/material' as mat;

/* 1. Definición del Tema */
html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

/* 2. Estilos Globales */
body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-large);
  margin: 0;
  height: 100%;
}

/* 3. Otros imports (después de los @use) */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');